#jinja2: lstrip_blocks: "True"
global_defs {
  enable_script_security
}
vrrp_script check_proxy {
  script "/etc/keepalived/check_proxy" # check haproxy is running
  interval {{ vrrp_script_interval }}
  timeout {{ vrrp_script_timeout }}
  fall {{ vrrp_script_fall }}
  rise {{ vrrp_script_rise }}
}

vrrp_instance VI_PBOS_MGMT {
  state BACKUP
  interface {{ keepalived_interface }}
  virtual_router_id {{ hostvars[groups['controller'][0]]['keepalived_vrid'] }}
  priority {% for h in groups['controller'] %}{% if inventory_hostname == h %}{{ 110-(loop.index*10) }}{% endif %}{% endfor %}

  advert_int 1
  nopreempt
  virtual_ipaddress {
    {{ keepalived_vip }}
  }
  track_script {
    check_proxy
  }
  #notify /etc/keepalived/haproxy.sh
  {% if groups['mariadb']|length == 2 %}
  notify_master "/etc/keepalived/garb start" root
  notify_backup "/etc/keepalived/garb stop" root
  notify_fault "/etc/keepalived/garb stop" root
  notify_stop "/etc/keepalived/garb stop" root
  {% endif %}
}
{% if keepalived_interface_svc != "" and keepalived_vip_svc != "" %}
vrrp_instance VI_PBOS_SVC {
  state BACKUP
  interface {{ keepalived_interface_svc }}
  virtual_router_id {{ keepalived_vrid }}
  priority {% for h in groups['controller'] %}{% if inventory_hostname == h %}{{ 110-(loop.index*10) }}{% endif %}{% endfor %}

  advert_int 1
  nopreempt
  virtual_ipaddress {
    {{ keepalived_vip_svc }}
  }
  track_script {
    check_proxy
  }
}
{% endif %}
